body {
    font-family: 'Inconsolata', monospace;
    display: grid;
}

h2 {
    margin-left: 5em;
}

.show {
    display: grid;
    grid-template-columns: 18em 35em;
    border-top-style: dotted;
    border-left-style: dotted;
    border-right-style: dotted;
    margin-left: 5em;
    margin-right: 5em;
}

.show:last-of-type {
    border-bottom-style: dotted;
}

.date-time {
    grid-column-start: 1;
    padding-left: 2em;
}

.bands {
    grid-column-start: 2;
}

.venue-info {
    grid-column-start: 3;
}
