<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO: save copies of these for serving, eventually -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/index.css" type="text/css" media="screen" />
    <title>shows</title>
  </head>
  <body>
    <h2>upcoming shows</h2>
    {%- for show in showList -%}
    <div class="show">
      <div class="date-time" data-timestamp="{{show.start_time_local}}">
        <p class="date">{{ show.start_time_local | readableDate("dddd, MMMM Do YYYY") }}</p>
        <p>{{ show.start_time_local | readableDate("h:mm a") }}</p>
      </div>
      <div class="bands">
        <p>{{ show.headliner }}</p>
        <p>{{ show.support }}</p>
      </div>
      <div class="venue-info">
        <p>{{ show.venue_name }}</p>
        <a href="{{show.ticket_url}}">buy tickets</a>
      </div>
    </div>
    {%- endfor -%}
    <script type="text/javascript" src="/assets/index.js"></script>
  </body>
</html>
